@font-face {
  font-family: 'D-DIN-PRO-500';
  src: url('~@/static/fonts/D-DIN-PRO/D-DIN-PRO-500-Medium.otf') format('opentype');
}

.D-DIN-PRO-500 {
  font-family: 'D-DIN-PRO-500', serif;
}

@font-face {
  font-family: 'D-DIN-PRO-700';
  src: url('~@/static/fonts/D-DIN-PRO/D-DIN-PRO-700-Bold.otf') format('opentype');
}

.D-DIN-PRO {
  font-family: 'D-DIN-PRO-700', serif;
}